# J-Link interface configuration
adapter driver jlink

# Select SWD transport protocol
transport select swd

source [find target/at91samdxx.cfg]

# Set adapter speed to 100 kHz
adapter speed 400

# You can add target config here, for example:
# source [find target/at91samd21.cfg]